extends base-auth.pug

block variables
    - var pageTitle = 'فراموشی رمز عبور | مدیریت اردو';

block content
    h4.mb-3.secondary-font رمز عبور را فراموش کردید؟
    p.mb-4 ایمیل خود را وارد کنید و ما دستورالعمل های لازم را برای بازنشانی رمز عبور برای شما ارسال خواهیم کرد.
    form#formAuthentication.mb-3(action="auth-reset-password-basic.html", method="POST")
        div.mb-3
            label.form-label(for="email") ایمیل
            input.form-control.text-start#email(type="text", name="email", placeholder="ایمیل خود را وارد کنید", autofocus, dir="ltr")
        button.btn.btn-primary.d-grid.w-100 ارسال لینک بازنشانی
    div.text-center
        a.d-flex.align-items-center.justify-content-center(href="/auth/login")
            i.bx.bx-chevron-left.scaleX-n1-rtl
            | بازگشت به ورود
