extends base-auth.pug

block content
    h4.mb-3.secondary-font بازنشانی رمز عبور
    p.mb-4
        | برای 
        span.fw-bold= email
    form#formAuthentication.mb-3(action="auth-login-basic.html", method="POST")
        .mb-3.form-password-toggle
            label.form-label(for="password") رمز عبور جدید
            .input-group.input-group-merge
                input#password.form-control.text-start(type="password", name="password", placeholder="············", aria-describedby="password", dir="ltr")
                span.input-group-text.cursor-pointer
                    i.bx.bx-hide
        .mb-3.form-password-toggle
            label.form-label(for="confirm-password") تایید رمز عبور
            .input-group.input-group-merge
                input#confirm-password.form-control(type="password", name="confirmPassword", placeholder="············", aria-describedby="password")
                span.input-group-text.cursor-pointer
                    i.bx.bx-hide
        button.btn.btn-primary.d-grid.w-100.mb-3 تنظیم رمز عبور جدید
        .text-center
            a(href="auth-login-basic.html")
                i.bx.bx-chevron-left.scaleX-n1-rtl
                | بازگشت به ورود
