.col-md-6.col-lg-4.mb-3
    .card.h-100
        img.card-img-top(src="../../assets/img/elements/2.jpg", alt="Card image cap")
        .card-body
            h5.card-title عنوان کارت
            p.card-text.
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
            a.btn.btn-outline-primary(href="javascript:void(0)") گزینه نمایشی